<div class="options">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="visa__header"><a hef="#">{{visa}}</a></h2>
        </div>
        <div class="column-one-third">
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-small margin_top">Cost</h3>
            <p>£2,297 per person</p>
        </div>
        <div class="column-one-third">
            <h3 class="heading-small margin_top">Apply from:</h3>
            <p>The UK</p>
        </div>
        <div class="column-one-third">
            <h3 class="heading-small margin_top">How long you can stay:</h3>
            <p>Permanently</p>
        </div>
    </div>
<details>
<summary><span class="summary">Find out more</span></summary>
<div class="panel panel-border-narrow">
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-small">You can</h3>
            <ul class="list list-bullet">
                <li>Stay for good</li>
                <li>work</li>
                <li>study</li>
            </ul>
        </div>
        <div class="column-one-third">
            <h3 class="heading-small">You can't</h3>
            <ul class="list list-bullet">
                <li>complain about a meal</li>
                <li>make a tea with milk first</li>
                <li>say hi to someone on the tube</li>
            </ul>
        </div>
        <div class="column-one-third">
            <h3 class="heading-small">Worth noting:</h3>
            <ul class="list list-bullet">
                <li>England will never win the world cup</li>
                <li>You will become very good at queuing</li>
            </ul>
        </div>
    </div>
    <a href="#">View full details of {{visa}}</a>
</div>
</details>
</div>