@import "$$theme";

.phase-banner {
  @include phase-banner(beta);
}
#step {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    #step {
      font-size: 16px;
      line-height: 1.25; } }
  #step a {
    display: inline-block;
    margin-top: 15px;
    padding-left: 14px;
    border-bottom: #0b0c0c 1px solid;
    color: #0b0c0c;
    text-decoration: none;
    background: url("../images/icon-caret-left.png") no-repeat 0 4px;
    margin-right: 14px; }
    @media (max-width: 640px) {
      #step a {
        background-position: 0 1px; } }
  #step span {
    display: inline-block;
    margin-top: 15px;
    color: #6f777b; }

#step a.home-navigation {
  background-image: none;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0; }


.options {
  padding-top: 0px; 
  padding-bottom: 12px; 
  border-top: 1px solid #bfc1c3; 
}

.visa__header {
  color: #005ea5; 
  font-size: 26px;
}

.margin_top {
  margin-top: 0;
}