{{<partials-page}}
{{$page-content}}
{{#beforeFields}}
{{beforeFields}}
{{/beforeFields}}
{{#fields}}
{{#renderField}}{{/renderField}}
{{/fields}}
{{#afterFields}}
{{afterFields}}
{{/afterFields}}    
    
    <p>You don’t need to apply for a visa to stay in the UK if you are from a country within the European Union.</p>   
    <p>If you have lived in the UK for 5 years, you may be able to apply for permanent residency.</p>
    <a href="/">Start again</a>.
    
{{/page-content}}
{{/partials-page}}